*{
     font-family: "Roboto Slab", serif;
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logoutBtn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;


}
.logoutBtn:hover{
    background-color: rgb(209, 48, 48);
    cursor: pointer;
}
#add-post-container{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.addPost-btn{
    width: 100px;
    padding: 10px;
    background-color: rgb(77, 187, 77);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}
.addPost-btn:hover{
    background-color: rgb(40, 140, 40);
    transition: 1s;
    cursor: pointer;
}
#add-post-container article > h2 {
    color: rgb(61, 61, 163);
}
#newPost-text{
    padding: 10px;
    margin-bottom: 10px;
}
#newPost-image{
    padding: 10px;
    margin-bottom: 10px;
}


#post-container{
    width: 90%;
    background-color: rgb(244, 148, 164);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.post{
    width: 60%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}

.post-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.postInside-header{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.edit-delete-post-holder{

    display: flex;
    justify-content: right;
    gap: 25px;
    
}
#edit-btn{
    padding: 10px;
    background-color: rgb(49, 49, 183);
    color: white;
    border-radius: 3px;
    font-size: 13px;
    border: none;

}
#edit-btn:hover{
    background-color: rgb(29, 29, 110);
    transition: 1s;
    cursor: pointer;
}
#delete-btn{
    padding: 10px;
    background-color: rgb(204, 28, 37);
    color: white;
    border-radius: 3px;
    font-size: 13px;
    border: none;
}
#delete-btn:hover{
    background-color: rgb(112, 6, 6);
    transition: 1s;
    cursor: pointer;
    
}
.post-user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.post-username{
    margin: 0;
}
.posted-time{

    color: rgb(108, 102, 102);
    font-size: 12px;
}
.post-image{
    display: flex;
    justify-content: center;
}
.post-image img{
    width: 50%;
    border-radius: 8px;
    margin: 15px;
}
.comment{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    
}
.coment-user-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-text-container{
    background-color: rgb(75, 121, 75);
    padding: 10px;
    border-radius: 8px;
}
.comment-text-container h4, p {
    margin: 0;
}
.comment-text-container h4{
    margin-bottom: 5px;
}
.postComment-holder{
    display: flex;
    gap: 10px;
    margin: 15px;
}
.post-comment-input-field-holder{
    width: 60%;
}
.postComment-input-field{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 80%;
}
.postComment-btn{
    padding: 10px;
    background-color: rgb(172, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}