*{
     font-family: "Roboto Slab", serif;
}
.login-form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.login-form h3{
    text-align: center;
    color: rgb(71, 201, 61);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}
input[type="text"], 
input[type="password"]{
    padding: 10px;
}
.login-btn{
    background-color: rgb(37, 163, 37);
    color: white;
    width: 12%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.signup-holder{

    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    gap: 5px;

    
}
#signup-btn{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgb(25, 122, 94)
    
    

}
#signup-btn:hover{
    background-color: rgb(11, 93, 63);
    transition: 1s;
    cursor: pointer;
    border: none;
}

.error{
    color: red;
}
.error h3 {
    text-align: center;
}
.hidden{
    display: none;
}

